/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding-bottom: 60px; /* Adjust the padding based on your footer height */
    overflow-y: scroll;
}

header {
    text-align: center;
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 50px;
}

h1, h2 {
    color: #333;
}

p {
    color: #555;
}

section {
    max-height: 400px;
    overflow-y: auto;
}

section ul.centered-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

section ul.centered-list li {
    padding: 10px;
}

footer.centered-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #2c2b2b;
    padding: 10px;
}
